
.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.panel-header {
  font-weight: bold;
  padding: 8px 12px;
  border-bottom: 1px solid #494d64;
  text-align: center;
}

.panel-content {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
}

.panel-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.panel-content li {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.panel-content li.active {
  background-color: #494d64;
}

.controls-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}
