
.preview-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #494d64;
  border-radius: 6px;
  overflow: hidden;
  font-family: sans-serif;
}

.preview-header {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #494d64;
}

.preview-body {
  display: flex;
  flex: 1;
}

.preview-scenes,
.preview-sources,
.preview-mixer,
.preview-controls {
  flex: 1;
  padding: 12px;
  border-right: 1px solid #494d64;
}

.preview-controls {
  border-right: none;
}
